# CodePilot CLI 配置

DEEPSEEK_API_KEY=sk-2aa9e706c28f48a4895143f4749fe80b
DEEPSEEK_BASE_URL=https://api.deepseek.com
OPENAI_API_KEY=sk-2aa9e706c28f48a4895143f4749fe80b
OPENAI_BASE_URL=https://api.deepseek.com

# 默认模型
LLM_MODEL=deepseek-chat
